<div >
  <%= link_to "Recevoir un email", emails_path, class: "btn btn-primary", :method => 'POST', remote: true %>

  <div >
    <div >
      <h3>Liste des emails</h3>
      <ul >
        <% @emails.each do |email|  %>
            <a href='<%= email_path(email) %>' data-remote= 'true' >
              <li class='remove-<%= email.id %>' <% if email.read == true %> style="color: black;" <% end %>>
                  <%= email.object %>
              </li>
            </a>
        <% end %>
      </ul>
    </div>

    <div >
      <h3>Email sélectionné</h3>
      <div id="email-show"></div>
    </div>
    
  </div>
</div>